<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">

    <title>Gaurang Mestry</title>
</head>
<nav>
    <div class="nav-container">
        <div class="nav-mainContentHolder">
            <div class="logo-container">
                <a href="#home" class="logo-link">
                    <span class="outSection-link logo G">G</span><span class="outSection-link logo M">M.</span>
                </a>
            </div>
            <label class="hamburgerMenu" for="toggle-nav">
                <div class="backgroundCircle"></div>
                <img class="plus-icon" src="https://assets.website-files.com/622f2476e95ec7155b37e7b0/6230608120c6cb6c4566f5d4_icons8-plus-math.svg" alt="">
            </label>
            

        </div>  
        <input type="checkbox" id="toggle-nav">

        <div id="nav-listContainer">
            <div class="nav-list">
                <a class="link" href="#about">// ABOUT</a>
                <a class="link" href="#skills">// SKILLS</a>
                <a class="link" href="#projetcs">// PROJECTS</a>
                <a class="link" href="#about">// ABOUT</a>
                <a class="link" href="#skills">// SKILLS</a>
                <a class="link" href="#projetcs">// PROJECTS</a>
                <a class="link" href="#about">// ABOUT</a>
                <a class="link" href="#skills">// SKILLS</a>
                <a class="link" href="#projetcs">// PROJECTS</a>
                <a class="link" href="#about">// ABOUT</a>
                <a class="link" href="#skills">// SKILLS</a>
                <a class="link" href="#projetcs">// PROJECTS</a>
                <a class="link" href="#about">// ABOUT</a>
                <a class="link" href="#skills">// SKILLS</a>
                <a class="link" href="#projetcs">// PROJECTS</a>
        
            </div>
        </div>
    </div>
</nav>